<html lang="en">
<head>
    <title><%= siteName %></title>
    <link rel="stylesheet" href="/builder/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      #left-sidebar {
          background-color: #D0D9FF;
          text-align: center;
      }
      #left-sidebar li, #left-sidebar img, #left-sidebar button {
      border: 1px solid black; /* Adds a black border to headers, list items, images, and buttons within the left sidebar */
      margin: 10px 0; /* Adds vertical spacing between elements */
      padding: 5px; /* Adds padding inside each element */
      text-align: center;
      }
      #left-sidebar li {
      background-color: #f0f0f0; /* Adds a background color to list items (text) */
      list-style: none; /* Removes bullet points from list items */
  }

      #right-sidebar {
      background-color: #D0D9FF; /* Gradient od jasnopomarańczowego do ciemniejszego pomarańczowego */
      }

      #main-content {
      background-color: #D0D9FF; /* Gradient od jasnozielonego do ciemniejszego zielonego */
      text-align: center;
      }
      .btn-back, #saveBlocks, .btn {
      border: 2px solid black; /* Adds a black border to buttons */
  }

  img {
      display: block; /* Ensures images are block level to handle margins correctly */
      max-width: 100%; /* Ensures images do not overflow the sidebar */
      height: auto; /* Keeps image aspect ratio */
  }
      
    </style>
</head>
<body>
<div id="left-sidebar">
    <h2>Available Blocks</h2>
    <ul>
        <% blocks.forEach((block) => { %>
            <li class="draggable" data-type="<%= block.type %>" draggable="true"><%= block.type %></li>
        <% }); %>
    </ul>
</div>

<div id="main-content">
    <h1><%= siteName %> - Builder</h1>
    <div id="drop-area" class="droppable">
        <!-- Drag and drop area -->
    </div>
</div>

<div id="right-sidebar">
    <h2>Settings</h2>
    <div class="text-start">
      <a href="/admin" class="btn btn-light btn-back">Back</a>
    </div>
    <div id="settings-panel">
        <button id="saveBlocks">SAVE CHANGES</button>
        <!-- Block settings will be loaded here -->
    </div>
    
</div>
<script src="/builder/script.js"></script>
<script>
    const btn = document.querySelector("#saveBlocks");

    btn.addEventListener("click", () => {
      const settingsPanel = document.querySelector("#settings-panel");
      const settingsBlocks = document.querySelectorAll("#settings-block")

      let newBlocks = [];
      for (const child of settingsPanel.children) {
        const settingsValues = {
          id: child.dataset.blockid,
          type: child.dataset.blocktype,
          options: {}
        };
        child.querySelectorAll("[id$='-input']").forEach(element => {

          const settingName = element.id.slice(0, -6);

          settingsValues.options[settingName] = element.value;
        })
        newBlocks.push(settingsValues)
      }
      newBlocks.shift();
      return sendSettingsValues(newBlocks.filter(a => a !== null && a.options !== null && a.type !== null));
    })

    function sendSettingsValues(newBlocks){

      fetch('/admin/builder/save', {
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        method: 'post',
        body: JSON.stringify(newBlocks)
      })
        .then(response => {
          return response.json();
        })
        .then(text => {
          console.log(text)
        })
        .catch(error => {
          console.log(error)
        });
    }

</script>
</body>
</html>