<html lang="en">
<head>
    <title><%= siteName %></title>
    <link rel="stylesheet" href="/builder/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <style>
        body {
            background: linear-gradient(to right, #6a11cb 10%, #2575fc 60%); /* Przykład gradientowego tła */
        }
    
        .header-row {
            display: flex;
            justify-content: space-between; /* Rozdziela elementy na przeciwnych końcach */
            align-items: center;
        }
    
        .header-title {
            flex-grow: 1; /* Pozwala tytułowi rosnąć i zajmować dostępną przestrzeń */
            text-align: center;
        }
    
        h1 {
            font-size: 3.5em; /* Zwiększenie rozmiaru czcionki */
        }
    
        img {
            margin-right: 10px; /* Dodaje margines po prawej stronie obrazka */
        }

        .header-row .text-end > div {
            color: #000000;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 16px; /* Ustawienie rozmiaru czcionki na 16px */
        }
        .custom-update-btn {
        background-color: #4CAF50; /* Zielone tło */
        border-color: #4CAF50; /* Zielona ramka */
        color: white; /* Biały tekst */
        }
        .custom-update-btn:hover {
        background-color: #45a049; /* Ciemniejszy odcień zielonego dla hover */
        border-color: #45a049;
        }
    </style>

    <div class="container text-center">
        <div class="row mt-5 mb-5 header-row">
            <div class="col-auto">
                <img src="https://i.imgur.com/LEnaOX3.png" alt="Logo" style="height: 125px;"> <!-- Zmień URL i alt według potrzeb -->
            </div>
            <div class="col">
                <h1 class="header-title">Admin panel</h1>
            </div>
            <div class="col-auto text-end">
                <div>Logout</div>
                <a class="btn custom-update-btn" href="/admin/logout" role="button">
                    <i class="bi bi-box-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <% modules.forEach((a) => { %>
                <div class="col-sm-3 mb-4 text-start">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= a.name %></h5>
                            <p class="card-text"><%= a.description %></p>
                            <a href="<%= a.link %>" class="btn btn-primary">Module</a>
                        </div>
                    </div>
                </div>
            <% }) %>
            <div class="col-sm-3 mb-4 text-start">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Home</h5>
                        <p class="card-text">See your website</p>
                        <a href="http://localhost:3000/" class="btn btn-primary">Module</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-4 text-start">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Blog</h5>
                        <p class="card-text">See your blog</p>
                        <a href="http://localhost:3000/blog" class="btn btn-primary">Module</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>